.fd-toolbar{
    border: solid 1px #dddddd;
    width: 100%;
    background: #fff
}
.fd-node-toolbar{
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    width: 100%;
    background: #fff
}
.fd-canvas-container{
    border: solid 1px #eee;
    background-color: #ffffff;
}
.fd-property-panel{
    width: 400px;
    border: solid 1px #999;
    border-radius: 5px;
    top: -550px;
    left: 500px;
    position: relative;
    background: #ffffff;
    box-shadow: 5px 5px 5px #888888;
}
.snaptogrid{
    background-image: url("grid-bg.png");
}
.nosnaptogrid{
    background-image: none;
}